<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>NewTicket</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
</head>
<body>
<div th:replace="~{navbar/navbar :: navbar}"></div>
<div class="container">
  <h2 class="mb-2 mt-2">Modifica Ticket</h2>
  <form method="post" th:object="${formEditTicket}" th:action="@{'/ticket/editTicket/' + ${formEditTicket.id}}"
        enctype="multipart/form-data">
    <div class="row">
      <div class="col-4 col-md-6">
        <!-- Titolo -->
        <div class="mb-1" sec:authorize="hasAuthority('ADMIN')">
          <label class="form-label">Titolo ticekt <span class="text-danger">*</span></label>
          <input type="text" name="titoloTicket" th:field="*{titoloTicket}" class="form-control" id="titoloTicket" required>

          <ul th:if="${#fields.hasErrors('titoloTicket')}">
            <li th:each="err : ${#fields.errors('titoloTicket')}" th:text="${err}" class="text-danger">Input is incorrect</li>
          </ul>
        </div>

        <!-- Descrizione -->
        <div class="mb-1" sec:authorize="hasAuthority('ADMIN')">
          <label class="form-label">Descrizione (Max. 20 caratteri)</label>
          <input type="text" name="descrizione" th:field="*{descrizione}" class="form-control" id="descrizione"
                 maxlength="20">
          <ul th:if="${#fields.hasErrors('descrizione')}">
            <li th:each="err : ${#fields.errors('descrizione')}" th:text="${err}" class="text-danger">Input is incorrect</li>
          </ul>
        </div>

        <!-- Stato -->
        <div class="mt-3">
          <h6>Seleziona Stato <span class="text-danger">*</span></h6>
          <select class="form-select" style="height: 60px" th:field="*{stato}" required>
            <option value="DA_FARE">DA FARE</option>
            <option value="IN_CORSO">IN CORSO</option>
            <option value="COMPLETATO">COMPLETATO</option>
          </select>
        </div>
      </div>

      <div class="col-4">
        <!-- Seleziona Utente -->
        <div class="mt-3" sec:authorize="hasAuthority('ADMIN')">
          <h6>Seleziona Utente <span class="text-danger">*</span></h6>
          <div class="border rounded p-2" style="max-height: 150px; overflow-y: auto;">

            <div th:if="${listUtente == null or listUtente.isEmpty}">
              <a class="text-black text-decoration-none" href="/utente">
                Nessun Utente presente, clicca qui per inserirlo!!
              </a>
            </div>

            <div th:unless="${listUtente == null or listUtente.isEmpty}">
              <select class="form-select" th:field="*{utente.idUtente}" required>
                <option th:each="utente : ${listUtente}"
                        th:value="${utente.idUtente}"
                        th:text="${utente.username}"
                        th:disabled="${utente.disponibile}">
                </option>
              </select>
            </div>
          </div>
          <ul th:if="${#fields.hasErrors('utente')}">
            <li th:each="err : ${#fields.errors('utente')}" th:text="${err}" class="text-danger">Input is incorrect</li>
          </ul>
        </div>

        <!--Lista di categorie disponibili-->
        <div class="mt-3" sec:authorize="hasAuthority('ADMIN')">
          <h6>Seleziona la Categoria <span class="text-danger">*</span></h6>
          <div class="border rounded p-2" style="max-height: 150px; overflow-y: auto;">
            <div th:if="${listCategoria == null or listCategoria.isEmpty}">
              <a class="text-black text-decoration-none" href="/categoria">Nessuna Piattaforma inserita,
                clicca qui per inserirla!!</a>
            </div>

            <div th:unless="${listCategoria == null or listCategoria.isEmpty}">
              <div class="form-check form-switch" th:each="categoria : ${listCategoria}">
                <!-- Ogni checkbox rappresenta un'istanza della lista categoria -->
                <input class="form-check-input" type="checkbox"
                       th:value="${categoria.idCategoria}"
                       th:name="categoriaSelezionata"
                th:checked="${formEditTicket.categoria != null and formEditTicket.categoria.contains(categoria)}">
                <label class="form-check-label" th:text="${categoria.nomeCategoria}"></label>
              </div>
            </div>
          </div>
          <ul th:if="${#fields.hasErrors('categoria')}">
            <li th:each="err : ${#fields.errors('categoria')}" th:text="${err}" class="text-danger">Input is incorrect</li>
          </ul>
        </div>
      </div>

      <!-- Pulsanti -->
      <div class="d-flex justify-content-center mt-4">
        <button type="submit" class="btn btn-outline-success">Modifica Ticket</button>
        <a th:href="@{/}" class="btn btn-outline-danger ms-4">Cancella</a>
      </div>
    </div>
  </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>